* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* header part satrts from here */
header {
    width: 100%;
    height: 100px;
    background: #FFF;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>ul {
    display: flex;
    text-decoration: none;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.section-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.section-title>span {
    background: linear-gradient(90deg, #d83b8c 50%, #FF42A5 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.nav-right-container {
    display: flex;
}

.nav-right ul {
    display: flex;
}

.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-right-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-nav img {
    height: 32px;
    padding: 24px;
    padding-right: 20px;
}

.nav-right-two ul {
    display: flex;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    justify-content: center;
    align-items: center;

}

.nav-right-two img {
    height: 24px;
    margin-right: 20px;

}

/* header part end here */

/* banner section start from here */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.banner-left-container{
    width: 50%;
    height: 700px;
    background-image: url('../images/group14.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}



.banner-right-container{
    width: 50%;

}

/* banner section end here  */

.gamer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    

}
.gamer-left-container{
    width: 50%;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.gamer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}



.gamer-right-container{
    width: 50%;

}